@model Annonce_Asp.netCore.Models.Region

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Région</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Nom Du Région : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region_Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
</div>