@model Annonce_Asp.netCore.ViewModel.Create_CatViewModel

@{
    ViewData["Title"] = "Create";
}
    <h4>Categories</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nom_Cat" class="control-label">Nom Du Catégories : </label>
                    <input asp-for="nom_Cat" class="form-control" />
                    <span asp-validation-for="nom_Cat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GetFile" class="control-label">Add Image </label>
                    <input type="file" name="GetFile" asp-for="GetFile" class="form-control" />
                    <span asp-validation-for="GetFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
